/* VARIABLES */

/* :root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
} */

/* GENERAL */

/* GRID */

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
}

.col-start {
  display: flex;
  justify-content: flex-start;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  display: flex;
  justify-content: flex-end;
}

/* Calendar */

.calendar {
  position: relative;
  width: 320px;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  font-weight: 400;
  line-height: 15px;
  color: #bc9cff;
}

.calendar .header {
  font-weight: bold;
  font-size: 19px;
  padding-bottom: 30px;
  line-height: 23px;
  color: #1f2041;
  white-space: nowrap;
}

.calendar .header .icon {
  cursor: pointer;

  width: 24px;
  height: 24px;
}

.calendar .days {
  font-size: 12px;
  font-style: normal;
}

.calendar .body .cell {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar .body .selected {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  font-weight: 700;
  color: #ffffff;
}

.calendar .body .default {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  color: #ffffff;
  font-weight: 700;
}
.calendar .body .cell .number {
  font-size: 12px;
  line-height: 15px;
}

.calendar .body .disabled {
  pointer-events: none;
  color: rgba(31, 32, 65, 0.25);
}
